html {

}

body {
  font-family: 'Lato', sans-serif;
  color: #fff;
  overflow: hidden;
}

@font-face {
  font-family: 'entypo';
  src: url('http://onslyde.com/css/entypo/entypo.eot');
  src: url('http://onslyde.com/css/entypo/entypo.eot?#iefix') format('http://onslyde.com/css/embedded-opentype'), url('http://onslyde.com/css/entypo/entypo.woff') format('woff'), url('http://onslyde.com/css/entypo/entypo.ttf') format('truetype'), url('http://onslyde.com/css/entypo/entypo.svg#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}

i.pictogram {
  font-family: "entypo";
  display: inline-block;
  font-size: 2.5em;
  line-height: .6;
  overflow: hidden;
  vertical-align: middle;
  font-style: normal;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}

.bold {
  font-family: 'Lato-Bold', sans-serif;
}

.light {
  font-family: 'Lato-Light', sans-serif;
}

h2, h3 {
  color: #343434;
  text-transform: uppercase;
  margin: 5px 0 5px 0;
}

.primary-header {
  background-color: #2C2C2C;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
}

.secondary-header {
  /*background-color: #d7d7d7;*/
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  height: 35px;
  z-index: 1;
  text-transform: uppercase;
  font-size: 1.8em;
  padding: 5px 0 5px 30px;
  color: #343434;
}

.total-attendees,
.session-time {
  float: right;
  display: inline-block;
  font-size: 2em;
  margin: 12px 30px 0 0;
  color: #B1B1B1;
  /*font-style: italic;*/
}

.total-attendees #totalCount,
.session-time #timer {
  font-style: normal;
}

.connect-url {
  float: left;
  font-weight: 200;
  margin: 12px 30px 0 10px;
  display: inline-block;
  font-size: 2em;

}

.content {
  position: absolute;
  top: 70px;
  right: 0;
  left: 0;
  bottom: 0;
}

/*============================ Left column*/
.left-col {
  background-color: #000;
  width: 60%;
  height: 100%;
  float: left;
}

.speaking-now {
  margin: 100px 0 0 30px;
}

.speaking-now div {
  margin-bottom: 5px;
}

.speaking-now-title {
  font-size: 1.8em;
}

#currentOrg {
  font-size: 2em;
  text-transform: uppercase;
}

#currentSpeaker {
  margin: 0 0 10px 0;
}

#currentSpeaker,
#currentSpeaker .speaker-details .name {
  font-size: 3rem;
  color: #f8f900;
  text-transform: uppercase;
  font-family: 'Lato-Bold', sans-serif;
}

#currentSpeaker .speaker-details .org {
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Lato-Bold', sans-serif;
}

#currentSpeaker #speaker-template > img {
  /*display:none;*/
}

.panel {
  margin: 0 0 0 30px;
}

.panel-list > li.moderator {
  /*border-bottom: 3px solid #2E6651;*/
  width: 100%;
}

.panel-list,
.panelist-details {
  list-style: none;
  font-family: 'Lato-Light', sans-serif;
  margin: 0;
  padding: 0;
}

.panelist-details .name {
  font-size: 1.8em;
}

.panelist-details .mod {
  color: #f8f900
}

.panel-list > li {
  width: 46%;
  float: left;
  margin: 5px;
}

.panel-list > li.filler {
  height: 77px;
}

.panel-list > li > img {
  width: 75px;
  float: left;
  margin: 0 10px 0 0;
  border: 1px solid #fff;
  -webkit-box-shadow: 0px 0px 10px 1px #2E6651;
  -moz-box-shadow: 0px 0px 10px 1px #2E6651;
  box-shadow: 0px 0px 10px 1px #2E6651;
}

/*============================ Right column*/
.right-col {
  width: 35%;
  height: 100%;
  float: left;
  padding: 0 0 0 20px;
}

/*.up-next-container .title {*/
/*font-size: 2em;*/
/*color: #3daa93;*/
/*width: 32%;*/
/*float:left;*/
/*text-transform: uppercase;*/
/*font-family: 'Lato-Bold', sans-serif*/
/*}*/

/*.up-next-container #upNext {*/
/*width: 68%;*/
/*float:left;*/
/*color: #343434;*/
/*}*/

.queue-title {
  margin: 29px 0 0 0;
  font-size: 1.3rem;
  color: #777;
}

.speaker-queue-container {
  position: relative;
}

.speaker-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 115%;
  float: left;
  margin: 10px;
  color: #343434;
  height: 300px;
  overflow-y: scroll;
}

.speaker-list #speaker-template {
  margin: 10px 0 0 0;
}

#speaker-template {
  /*clear the float*/
  overflow: hidden;
}

#speaker-template > img {
  width: 85px;
  float: left;
  margin: 10px 10px 0 0;
  border: 1px solid #fff;
}

.speaker-details {
  list-style: none;
  font-family: 'Lato-Light', sans-serif;
  margin: 0;
  padding: 0;
}

.speaker-details .name {
  font-size: 1.8em;
}

.speaker-details .org {
  font-size: 1.2em;
}

/*===================== sentiment chart*/

.sentiment-container {
  width: 100%;
  position: relative;
  height: 150px;
  margin: 100px 0 0 0;
}

.sentiment-bar1 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50%;
  left: 0;
  padding: 0 3px 0 0;
  border-right: 2px solid #777;
}

.sentiment-bar2 {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
  padding: 0 0 0 3px;
  border-left: 2px solid #777;
}

.sentiment-bar2 #sentiment-chart-agree {
  background-color: #3daa93;
  height: 120px;
  float: left;
  position: relative;
  margin: 12px 0 0 0;
  overflow: hidden;
}

.sentiment-bar2 #sentiment-chart-agree #agreeCount {
  position: absolute;
  padding: 3px 5px 0 0;
  top: 36%;
  right: 0;
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Lato-Bold';
}

.sentiment-bar1 #sentiment-chart-disagree {
  background-color: #343434;
  height: 120px;
  float: right;
  position: relative;
  margin: 12px 0 0 0;
  overflow: hidden;
}

.sentiment-bar1 #sentiment-chart-disagree #disagreeCount {
  position: absolute;
  padding: 3px 0 0 5px;
  top: 36%;
  left: 0;
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Lato-Bold';
}

.bad-label {
  color: #343434;
  font-family: 'Lato-Bold';
  font-size: 1.5rem;
  width: 100%;
  text-align: right;
  margin: 0 0 3px 0;
  opacity: .7;
}

.good-label {
  color: #3daa93;
  font-family: 'Lato-Bold';
  font-size: 1.5rem;
  width: 100%;
  margin: 0 0 3px 0;
  opacity: .7;
}

.transition {
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.hide {
  display: none;
}

/*----------------------------- css magic*/

.deepshadow {
  text-shadow: 0 -1px 0 #ffffff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

@-webkit-keyframes bump-in
{
  from {
    -webkit-transform: scale(2,2);
    opacity: .5;
  }
  to {
    -webkit-transform: scale(1,1);
    opacity: 1;
  }
}

@-webkit-keyframes bump-out
{
  from {
    -webkit-transform: scale(1,1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(2,2);
    opacity: .5;
  }
}

.anim-chart.waiting {

}

.bump-in {
  display: inline-block;
  -webkit-animation-name: bump-in;
  -webkit-animation-duration: .2s;
  -webkit-animation-timing-function: step-stop;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: 1;
  -webkit-transform: scale(1, 1)
}

.bump-out {
  display: inline-block;
  -webkit-animation-name: bump-out;
  -webkit-animation-duration: .2s;
  -webkit-animation-timing-function: step-stop;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: 1;
  -webkit-transform: scale(2, 2);
  opacity: .5;
}

#modal-connect-string {
  font-size: 7rem;
  margin: 10px 0 20px 0;
}

#panel-container {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position:absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom:0;
}

#modal {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: rgba(17, 17, 17, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: -1;
}

#modal.visible {
  display: block;
  -webkit-filter: blur(0);
  -moz-filter: blur(0);
  opacity: 1;
  z-index: 1000;
}

.blur {
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  transform: scale(1.05);
}

#question-container {
  position: absolute;
  z-index: 1;
  top: -69px;
  width: 90%;
}

/*#question-container:before {*/
  /*content:"";*/
  /*position: relative;*/
  /*padding: 15px;*/
  /*margin: 1em 0 3em;*/
  /*border: 5px solid #5a8f00;*/
  /*color: #333;*/
  /*background: #fff;*/
  /*-webkit-border-radius: 10px;*/
  /*-moz-border-radius: 10px;*/
  /*border-radius: 10px;*/
/*}*/

#question-container li {
  border-radius: 5px;
  padding: 25px 21px;
  color: #111;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  background-color:#fff;
  font-size: 2.5em;
}

/*#question-container li:before {*/
  /*top: 10px;*/
  /*bottom: auto;*/
  /*left: -30px;*/
  /*border-width: 15px 30px 15px 0;*/
  /*border-color: transparent #5a8f00;*/
/*}*/



#question-container:after {
  content: "";
  position: absolute;
  bottom: 25px;
  left: 16px;
  border-width: 25px 30px 25px 0;
  border-style: solid;
  border-color: transparent #fff;
  display: block;
  width: 0;
}



